@import "../utils/variables";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap");

.home {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  .loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-top: 2px solid;
    border-color: white transparent;
    animation: spin 1s linear infinite;
    margin-top: 0em;
  }
}
.wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  padding: 1em;
  .createBundleCard {
    background: #1b1b1b;
    width: 30em;
    padding: 2em;
    border-radius: 1em;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;
      .title {
        margin: 0;
        font-weight: 400;
      }
      .exit {
        height: 20px;
        width: 20px;
        position: relative;
        cursor: pointer;
        .exit1 {
          width: 100%;
          height: 1.5px;
          background: $clr-medEmpha;
          position: absolute;
          top: 50%;
          transform: rotate(45deg);
        }
        .exit2 {
          width: 100%;
          height: 1.5px;
          background: $clr-medEmpha;
          position: absolute;
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }
    .basicSettings {
      display: flex;
      flex-direction: column;
      .label {
        font-size: 1rem;
        font-family: "Raleway", sans-serif;
        color: $clr-medEmpha;
        margin-bottom: 0.25em;
      }
      .input {
        margin-bottom: 1em;
        padding: 0.5em 0em;
        font-size: 1rem;
        color: $clr-highEmpha;
        background: transparent;
        border: none;
        border-bottom: 1px solid $clr-bg4;
        font-family: "Roboto", sans-serif;
        outline: none;
        &:focus {
          border-bottom: 1px solid $clr-primary;
        }
        &::placeholder {
          font-size: 1rem;
          color: $clr-medEmpha;
        }
      }
      .textarea {
        margin-bottom: 1em;
        resize: none;
        height: 100px;
        font-size: 1rem;
        color: $clr-highEmpha;
        outline: none;
        border: none;
        border-bottom: 1px solid $clr-bg4;
        background: transparent;
        font-family: "Roboto", sans-serif;
        &:focus {
          border-bottom: 1px solid $clr-primary;
        }
      }
      .count {
        margin: 0em 0em 1em 0em;
        align-self: flex-end;
        font-size: 0.85rem;
        color: $clr-highEmpha;
      }
      .btn {
        width: 40%;
        align-self: flex-end;
        font-size: 1rem;
        background: $clr-primaryVariant;
        cursor: pointer;
        border: none;
        outline: none;
        color: $clr-highEmpha;
        height: 35px;
        border-radius: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.bundleContainer {
  padding: 2em;
  .header {
    .title {
      font-size: 4rem;
      margin: 0;
      letter-spacing: -1.5px;
    }
    .bundleDescription {
      line-height: 25px;
      color: $clr-medEmpha;
    }
    .createdAt {
      color: $clr-medEmpha;
      margin: 0;
      .special {
        color: $clr-primary;
      }
    }
  }
  .utils {
    width: 100%;
    display: flex;
    margin-top: 1em;
    position: relative;
    .utilContainer {
      justify-self: flex-end;
      display: flex;
      margin-left: auto;
      .util {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: 50px;
        width: 50px;
        cursor: pointer;
        .copiedContainer {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $clr-primaryVariant;
          height: 50px;
          width: 100px;
          right: -10px;
          top: -60px;
          border-radius: 12.5px;
          animation: fade 2s forwards;
          .triangle {
            position: absolute;
            bottom: -10px;
            right: 30px;
            height: 0px;
            width: 0px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $clr-primaryVariant;
          }
          .copyText {
            color: $clr-highEmpha;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            margin: 0 auto;
          }
        }
        .utilText {
          margin: 0.5em 0em 0em 0em;
          font-size: 0.85rem;
        }
        &:hover {
          .utilText {
            color: $clr-medEmpha;
          }
          .icon {
            color: $clr-medEmpha;
          }
        }
      }
    }
  }
  .table {
    border-collapse: collapse;
    margin-top: 2em;
    .tableHeader {
      .headerRow {
        text-align: left;
        .tableTitle {
          &:first-child {
            padding-left: 1em;
          }
        }
      }
    }
    .tableBody {
      .bodyRow {
        &:hover {
          background: $clr-bg3;
        }
        .entry {
          padding: 1em 3em 1em 0em;
          &:first-child {
            padding-left: 1em;
          }
        }
      }
    }
  }
}
.popoutSettings {
  position: absolute;
  z-index: 2;
  left: -7em;
  top: 4em;
  flex-direction: column;
  background: #252525;
  border-radius: 0.5em;
  -webkit-box-shadow: 1px -1px 19px 7px rgba(0, 0, 0, 0.6);
  box-shadow: 1px -1px 19px 7px rgba(0, 0, 0, 0.6);
  padding: 1em 0em;
  .container {
    padding: 0.5em 1.5em;
    cursor: pointer;
    &:hover {
      background: $clr-bg4;
    }
    .info {
      margin: 0;
    }
  }
}
@media (max-width: 500px) {
  .bundleContainer {
    .table {
      .tableHeader {
        .headerRow {
          .tableTitle {
            &:first-child {
              padding-left: 0em;
            }
          }
        }
      }
      .tableBody {
        .bodyRow {
          .entry {
            padding: 1em 1em 1em 0em;
            &:first-child {
              padding-left: 0em;
            }
          }
          .popoutContainer {
            position: relative;
            .popout {
              position: absolute;
              z-index: 2;
              left: -10em;
              top: 4em;
              flex-direction: column;
              background: #252525;
              border-radius: 0.5em;
              -webkit-box-shadow: 1px -1px 19px 7px rgba(0, 0, 0, 0.6);
              box-shadow: 1px -1px 19px 7px rgba(0, 0, 0, 0.6);
              padding: 1em 0em;
              .container {
                padding: 0.5em 1.5em;
                cursor: pointer;
                &:hover {
                  background: $clr-bg4;
                }
                .info {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
