@use "sass:math";
@import "../utils/variables";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap");

// switch stuff
$base-font-size: 10px;

$switch-width: 4em;
$switch-size: 2em;
$switch-space: 0.2em;

$switch-off-padding: 0em;
$switch-on-padding: $switch-size - $switch-space;
$switch-button-size: $switch-size - ($switch-space * 2);

$switch-off-border: #eee;
// $switch-on-color: #00c169;
$switch-on-color: $clr-primaryVariant;
$switch-toggle-color: #fff;

$switch-animation-bounce-distance: 0.4em;

.home {
  position: relative;
  .groups {
    padding: 2em;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        display: flex;
        align-items: center;
        .title {
          margin: 0em 1em 0em 0em;
        }
        .groupNumber {
        }
      }
      .right {
        display: flex;
        align-items: center;
        .options {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: $clr-bg3;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid $clr-bg4;
          cursor: pointer;
          &:hover {
            background: $clr-bg5;
          }
        }
        .newGroup {
          background: $clr-primaryVariant;
          margin-left: 1em;
          padding: 0.5em 1em;
          border-radius: 0.5em;
          color: $clr-highEmpha;
          font-family: "Roboto", sans-serif;
          font-size: 1rem;
          outline: none;
          border: none;
          cursor: pointer;
        }
      }
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1em;
      margin-top: 1em;
      .card {
        background: $clr-bg3;
        height: 12.5em;
        padding: 1em;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .cardHead {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .groupName {
            margin: 0;
            font-size: 1.125rem;
            font-weight: 400;
          }
          .status {
            padding: 0.25em 0.5em;
            .statusType {
              margin: 0;
              font-size: 0.75rem;
            }
          }
        }
        .content {
          justify-self: flex-start;
          .desc {
            color: $clr-medEmpha;
          }
        }
        .bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .left {
            display: flex;
            align-items: center;
            .users {
              display: flex;
              .userCircle {
                height: 25px;
                width: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: #303030;
                border: 1px solid #444444;
                &:not(:first-of-type) {
                  margin-left: -10px;
                }
                .icon {
                  font-size: 0.75rem;
                  color: $clr-medEmpha;
                }
              }
            }
            .plusCircle {
              height: 20px;
              width: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              background: #303030;
              border: 1px solid #444444;
              margin-left: -5px;
              .plus {
                color: $clr-primary;
              }
            }
          }
          .right {
            cursor: pointer;
            position: relative;
            .aside {
              position: absolute;
              top: 20px;
              left: 0px;
              width: 10em;
              background: #252525;
              -webkit-box-shadow: 1px -1px 19px 7px rgba(0, 0, 0, 0.6);
              box-shadow: 1px -1px 19px 7px rgba(0, 0, 0, 0.6);
              border-radius: 0.5em;
              .container {
                padding: 0.5em 1em;
                &:hover {
                  background: $clr-bg4;
                }
                .option {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
.groupWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  padding: 1em;
  .createGroupCard {
    background: #1b1b1b;
    width: 30em;
    padding: 2em;
    border-radius: 1em;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;
      .title {
        margin: 0;
        font-weight: 400;
      }
      .exit {
        height: 20px;
        width: 20px;
        position: relative;
        cursor: pointer;
        .exit1 {
          width: 100%;
          height: 1.5px;
          background: $clr-medEmpha;
          position: absolute;
          top: 50%;
          transform: rotate(45deg);
        }
        .exit2 {
          width: 100%;
          height: 1.5px;
          background: $clr-medEmpha;
          position: absolute;
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }
    .basicSettings {
      display: flex;
      flex-direction: column;
      .label {
        font-size: 1rem;
        font-family: "Raleway", sans-serif;
        color: $clr-medEmpha;
        margin-bottom: 0.25em;
      }
      .input {
        margin-bottom: 1em;
        padding: 0.5em 0em;
        font-size: 1rem;
        color: $clr-highEmpha;
        background: transparent;
        border: none;
        border-bottom: 1px solid $clr-bg4;
        font-family: "Roboto", sans-serif;
        outline: none;
        &:focus {
          border-bottom: 1px solid $clr-primary;
        }
        &::placeholder {
          font-size: 1rem;
          color: $clr-medEmpha;
        }
      }
      .textarea {
        margin-bottom: 1em;
        resize: none;
        height: 100px;
        font-size: 1rem;
        color: $clr-highEmpha;
        outline: none;
        border: none;
        border-bottom: 1px solid $clr-bg4;
        background: transparent;
        font-family: "Roboto", sans-serif;
        &:focus {
          border-bottom: 1px solid $clr-primary;
        }
      }
      .count {
        margin: 0em 0em 1em 0em;
        align-self: flex-end;
        font-size: 0.85rem;
        color: $clr-highEmpha;
      }
      .toggleOptions {
        display: flex;
        margin-bottom: 1em;
        .label {
          margin-right: 1em;
        }
        .toggleContainer {
          .switch {
            font-size: $base-font-size;
            position: relative;
            display: inline-block;
            appearance: none;
            width: $switch-width;
            height: $switch-size;
            line-height: $switch-size;
            border-radius: math.div($switch-size, 2);
            margin: 0;
            padding: 0;
            box-shadow: inset 0 0 0 $switch-space $switch-off-border;
            outline: 1px solid transparent !important;
            cursor: pointer;
            border: none;
            background: transparent;
            user-select: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-touch-callout: none;

            transition: box-shadow 0.3s ease-in-out, padding 0.25s ease-in-out;
            transition-delay: 0.1s, 0s;

            &:checked {
              transition-delay: 0s, 0s;
              box-shadow: inset 0 0 0 math.div($switch-size, 1.75)
                $switch-on-color !important;
              padding-left: $switch-on-padding;
            }
            /* Animations if supported */
            &.hit {
              animation: slide-off 0.35s ease both;
            }
            &.hit:checked {
              animation: slide-on 0.35s ease both 0.05s;
            }

            &::before,
            &::after {
              content: "";
            }

            &::after {
              /* Increases hit area */
              $size-adjust: -1 * math.div($switch-button-size, 3);
              position: absolute;
              top: $size-adjust;
              left: $size-adjust;
              bottom: $size-adjust;
              right: $size-adjust;
            }

            &::before {
              display: inline-block;
              height: $switch-button-size;
              width: $switch-button-size;
              margin: $switch-space 0 0 $switch-space;
              background-color: $switch-toggle-color;
              border-radius: math.div($switch-button-size, 2);
              box-shadow: 0 $switch-space ($switch-space * 2) 0
                  rgba(0, 0, 0, 0.2),
                0 0 math.div($switch-space, 2) math.div($switch-space, 2)
                  rgba(0, 0, 0, 0.1);
              transition: all 0.1s ease 0.1s;
            }

            &:active::before {
              transition: all 0.1s ease 0.05s;
            }
            &.touch:hover::before {
              transition: all 0s ease 0s;
            }

            &:active::before,
            &.touch:hover::before {
              width: $switch-button-size + ($switch-space * 4);
            }

            &:active:checked::before,
            &.touch:hover:checked::before {
              margin-left: -($switch-space * 3);
            }
          }
        }
      }
      .btn {
        width: 40%;
        align-self: flex-end;
        font-size: 1rem;
        background: $clr-primaryVariant;
        cursor: pointer;
        border: none;
        outline: none;
        color: $clr-highEmpha;
        height: 35px;
        border-radius: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-top: 2px solid;
  border-color: white transparent;
  animation: spin 1s linear infinite;
  margin-top: 0em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
