@import "utils/variables";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap");

.main {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: $clr-highEmpha;
  min-height: 100vh;
  background: $clr-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .banner {
    width: 100%;
    height: 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $clr-bg1;
    .left {
      display: flex;
      align-items: center;
      .logo {
        max-width: 30px;
        margin: 0em 0.5em 0em 3em;
        cursor: pointer;
      }
      .companyName {
        font-size: 1.125rem;
      }
    }
    .right {
      margin-right: 3em;
      .burgerContainer {
        display: none;
      }
      .contact {
        background: transparent;
        outline: none;
        // border: 2px solid $clr-bg4;
        border: none;
        cursor: pointer;
        color: $clr-highEmpha;
        font-size: 0.85rem;
        font-family: "Roboto", sans-serif;
        border-radius: 0.65em;
        padding: 0.45em 1em;
        &:first-of-type {
          margin-right: 1em;
        }
        &:hover {
          background: $clr-bg2;
          transition: background 100ms ease-in;
        }
      }
      .try {
        background: $clr-primaryVariant;
        color: $clr-highEmpha;
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        border: none;
        outline: none;
        padding: 0.45em 1em;
        border-radius: 0.25em;
        cursor: pointer;
        margin: 0em 1em;
      }
    }
  }
  .mobileWrapper {
    overflow-x: hidden;
    position: absolute;
    z-index: 10;
    top: 3.5em;
    right: 0;
    pointer-events: none;
    display: none;
    .mobileSidebar {
      pointer-events: all;
      background: #181818;
      // background: $clr-bg1;
      width: 12.5em;
      height: calc(100vh - 3.5em);
      max-height: calc(100vh - 3.5em);
      border-right: solid 1px $clr-bg;
      transform: translateX(100%);
      transition: transform 250ms ease-in;
      &.active {
        transform: translateX(0%);
        transition: transform 250ms ease-in;
      }
      .subSections {
        .linkBox {
          display: flex;
          cursor: pointer;
          transition: background 100ms ease-in;
          &:hover {
            background: #1f1f1f;
          }
          .sideDeco {
            width: 4px;
          }
          .textContainer {
            .text {
              padding: 1em 1em 1em 1em;
              margin: 0;
              font-size: 0.85rem;
              color: $clr-medEmpha;
              font-weight: 400;
              letter-spacing: 0.5px;
            }
          }
        }
        .sectionHeader {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-top: 1em;
          margin-bottom: 0.5em;
          &:first-of-type {
            padding-top: 1em;
            margin-top: 0em;
          }
          .icon {
            margin-right: 1em;
            margin-left: 1em;
            font-size: 0.85rem;
          }
          .sectionTitle {
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            font-size: 1rem;
            margin: 0em;
          }
        }
        .linkBox {
          display: flex;
          cursor: pointer;
          transition: background 100ms ease-in;
          &:hover {
            background: #1f1f1f;
          }
          .sideDeco {
            width: 4px;
          }
          .textContainer {
            .text {
              padding: 1em 1em 1em 1em;
              margin: 0;
              font-size: 0.85rem;
              color: $clr-medEmpha;
              font-weight: 400;
              letter-spacing: 0.5px;
            }
          }
        }
      }
    }
  }
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    padding: 0em 2em;
    .title {
      font-size: 4rem;
      margin: 0;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
      letter-spacing: -0.5px;
      text-align: center;
    }
    .switchPayment {
      padding: 0.25em;
      background: $clr-bg4;
      border-radius: 0.5em;
      margin: 3em 0em;
      .monthly {
        background: $clr-primaryVariant;
        outline: none;
        border: none;
        color: $clr-highEmpha;
        padding: 0.75em 1.5em;
        border-radius: 0.5em;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
      }
      .yearly {
        background: transparent;
        color: $clr-highEmpha;
        border: none;
        outline: none;
        padding: 0.75em 1.5em;
        border-radius: 0.5em;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
      }
    }
  }
  .cardContainer {
    max-width: 65em;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-bottom: 3em;
    .card {
      background: $clr-bg4;
      padding: 1.5em;
      border-radius: 0.5em;
      .cardHeader {
        .title {
          text-transform: uppercase;
          font-family: "Raleway", sans-serif;
          font-weight: 400;
          letter-spacing: 1.5px;
        }
        .priceContainer {
          display: flex;
          align-items: center;
          .prevPrice {
            margin: 0em 1.15em 0em 0em;
            font-size: 1.15rem;
            text-decoration: line-through;
            color: $clr-medEmpha;
          }
          .price {
            font-size: 2rem;
            margin: 0;
            .special {
              font-size: 0.75rem;
              letter-spacing: 1.5px;
              text-transform: uppercase;
            }
          }
        }
        .desc {
          font-family: "Raleway", sans-serif;
          line-height: 25px;
        }
      }
      .content {
        .featureContainer {
          display: flex;
          align-items: center;
          .circle {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $clr-bg3;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            margin-right: 0.5em;
            .icon {
              color: $clr-primary;
              margin: 0;
            }
          }
        }
        .paymentBtn {
          background: $clr-primaryVariant;
          margin-top: 3em;
          padding: 0.75em 0em;
          border-radius: 0.25em;
          outline: none;
          border: none;
          width: 100%;
          height: 40px;
          cursor: pointer;
          color: $clr-highEmpha;
          font-family: "Roboto", sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .main {
    .mobileWrapper {
      display: block;
    }
    .banner {
      .right {
        .try {
          display: none;
        }
        .contact {
          display: none;
        }
        .burgerContainer {
          display: block;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .main {
    .cardContainer {
      grid-template-columns: 1fr;
      place-items: center;
      .card {
        max-width: 25em;
        &:last-of-type {
          margin-bottom: 5em;
        }
      }
    }
  }
}

.loading2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-top: 2px solid;
  /*border-right: 8px solid; */
  border-color: white transparent;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
