@import "utils/variables";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap");

.main {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: $clr-highEmpha;
  height: 100vh;
  max-height: 100vh;
  background: $clr-bg;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  .mobileWrapper {
    overflow-x: hidden;
    position: absolute;
    z-index: 10;
    top: 3.5em;
    right: 0;
    pointer-events: none;
    display: none;
    .mobileSidebar {
      pointer-events: all;
      background: #181818;
      // background: $clr-bg1;
      width: 12.5em;
      height: calc(100vh - 3.5em);
      max-height: calc(100vh - 3.5em);
      border-right: solid 1px $clr-bg;
      transform: translateX(100%);
      transition: transform 250ms ease-in;
      &.active {
        transform: translateX(0%);
        transition: transform 250ms ease-in;
      }
      .subSections {
        .linkBox {
          display: flex;
          cursor: pointer;
          transition: background 100ms ease-in;
          &:hover {
            background: #1f1f1f;
          }
          .sideDeco {
            width: 4px;
          }
          .textContainer {
            .text {
              padding: 1em 1em 1em 1em;
              margin: 0;
              font-size: 0.85rem;
              color: $clr-medEmpha;
              font-weight: 400;
              letter-spacing: 0.5px;
            }
          }
        }
        .sectionHeader {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-top: 1em;
          margin-bottom: 0.5em;
          &:first-of-type {
            padding-top: 1em;
            margin-top: 0em;
          }
          .icon {
            margin-right: 1em;
            margin-left: 1em;
            font-size: 0.85rem;
          }
          .sectionTitle {
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            font-size: 1rem;
            margin: 0em;
          }
        }
        .linkBox {
          display: flex;
          cursor: pointer;
          transition: background 100ms ease-in;
          &:hover {
            background: #1f1f1f;
          }
          .sideDeco {
            width: 4px;
          }
          .textContainer {
            .text {
              padding: 1em 1em 1em 1em;
              margin: 0;
              font-size: 0.85rem;
              color: $clr-medEmpha;
              font-weight: 400;
              letter-spacing: 0.5px;
            }
          }
        }
      }
    }
  }
  .banner {
    width: 100%;
    height: 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $clr-bg1;
    .left {
      display: flex;
      align-items: center;
      .logo {
        max-width: 30px;
        margin: 0em 0.5em 0em 3em;
        cursor: pointer;
      }
      .companyName {
        font-size: 1.125rem;
      }
    }
    .right {
      margin-right: 3em;
      .burgerContainer {
        display: none;
      }
      .contact {
        background: transparent;
        outline: none;
        // border: 2px solid $clr-bg4;
        border: none;
        cursor: pointer;
        color: $clr-highEmpha;
        font-size: 0.85rem;
        font-family: "Roboto", sans-serif;
        border-radius: 0.65em;
        padding: 0.45em 1em;
        &:first-of-type {
          margin-right: 1em;
        }
        &:hover {
          background: $clr-bg2;
          transition: background 100ms ease-in;
        }
      }
      .try {
        background: $clr-primaryVariant;
        color: $clr-highEmpha;
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        border: none;
        outline: none;
        padding: 0.45em 1em;
        border-radius: 0.25em;
        cursor: pointer;
        margin: 0em 1em;
      }
    }
  }
  .circle {
    position: absolute;
    width: 500px;
    height: 800px;
    left: -300px;
    top: 300px;
    border-radius: 50%;
    border: 2px solid #bb86fc;
  }
  .circle2 {
    position: absolute;
    width: 1000px;
    height: 1000px;
    right: -700px;
    top: 100px;
    border-radius: 50%;
    border: 2px solid #bb86fc;
  }
  .titlePage {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .titleCard {
      max-width: 47.5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1em;
      .title {
        font-size: 6rem;
        font-weight: 500;
        letter-spacing: 1%;
        text-align: center;
        margin: 0;
      }
      .desc {
        font-size: 1.5rem;
        font-weight: 400;
        color: $clr-medEmpha;
        text-align: center;
        line-height: 35px;
        margin: 1em 0em 0em 0em;
        .italic {
          font-style: italic;
        }
      }
      .tryButton {
        max-width: 25em;
        width: 100%;
        background: $clr-primaryVariant;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 0.5em;
        font-size: 1rem;
        font-family: "Roboto", sans-serif;
        color: $clr-highEmpha;
        padding: 0.5em;
        margin-top: 2em;
      }
    }
  }
  .statistics {
    margin-top: 10em;
    .statsbar {
      background: $clr-bg3;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2em;
      padding: 1em;
      &:last-of-type {
        padding: 2em 0em;
        .statsGrid {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      .statsPara {
        font-size: 1.25rem;
        font-family: "Raleway";
        font-weight: 500;
        text-align: center;
      }
      .statsGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        padding: 1em;
        .statContainer {
          .stat {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 4rem;
            margin: 0;
          }
          .statWords {
            color: $clr-medEmpha;
            font-weight: 500;
            font-family: "Raleway", sans-serif;
            font-size: 1.25rem;
            margin: 0;
          }
        }
        .mit {
          max-width: 100px;
        }
        .uva {
          max-width: 200px;
        }
        .berkeley {
          max-width: 200px;
        }
        .image {
          margin-bottom: 2em;
          .riceSvg {
            max-width: 300px;
            width: 100%;
            .cls1 {
              fill: $clr-highEmpha;
            }
          }
        }
      }
    }
  }
  .why {
    .whyContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      .whyTitle {
        font-size: 4rem;
        font-weight: 500;
        margin: 1em 0em;
        text-align: center;
      }
      .whyGrid {
        display: grid;
        place-items: flex-start;
        grid-template-columns: repeat(3, 1fr);
        padding: 0em 1em;
        gap: 1em;
        .reasonContainer {
          padding: 1em;
          .top {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .whyCircle {
              height: 100px;
              width: 100px;
              border-radius: 50%;
              border: 1px solid $clr-bg4;
              background: $clr-bg3;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 2em;
              .icon {
                color: $clr-primary;
                font-size: 3rem;
              }
            }
            .title {
              font-size: 2.25rem;
              text-align: center;
              margin: 0;
            }
          }
          .bottom {
            .reasonText {
              text-align: center;
              font-family: "Raleway", sans-serif;
              font-weight: 500;
              font-size: 1.5rem;
              color: $clr-medEmpha;
              line-height: 28.8px;
            }
          }
        }
      }
      .divider {
        height: 4px;
        width: 50vw;
        background: $clr-bg4;
      }
    }
  }
  .content {
    .featureContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8em 4em;
      border-bottom: 15px solid $clr-bg4;
      .left {
        max-width: 25em;
        margin-right: 1em;
        .subtitle {
          color: $clr-highEmpha;
          font-size: 2.5rem;
          font-weight: 300;
          margin: 0em 0em 0.5em 0em;
        }
        .subdesc {
          color: $clr-medEmpha;
          font-family: "Raleway", sans-serif;
          font-size: 1.75rem;
          line-height: 40px;
          margin: 0em 0em 1em 0em;
        }
        .bottom {
          display: flex;
          justify-content: space-between;
          .bottomContainer {
            display: flex;
            align-items: center;
            .featureCircle {
              height: 40px;
              width: 40px;
              border-radius: 50%;
              border: 1px solid $clr-bg4;
              background: $clr-bg3;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 1em;
              .icon {
                color: $clr-primary;
              }
            }
            .para {
              font-size: 1.25rem;
              font-family: "Roboto", sans-serif;
              font-weight: 300;
              color: $clr-medEmpha;
              margin: 0;
            }
          }
        }
      }
      .right {
        .video {
          max-width: 800px;
          width: 100%;
          border-radius: 0.5em;
        }
        .image {
          display: none;
          max-width: 760px;
          width: 100%;
          border-radius: 0.5em;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .main {
    .content {
      .featureContainer {
        flex-direction: column;
        padding: 4em 2em;
        .left {
          margin-top: 3em;
          .bottom {
            .bottomContainer {
              .featureCircle {
                margin: 0.5em;
                width: 30px;
                height: 30px;
              }
              .para {
                font-size: 1rem;
              }
            }
          }
        }
      }
      .reversed {
        flex-direction: column-reverse;
      }
    }
  }
}
@media (max-width: 880px) {
  .main {
    .gridWrap {
      .constructionCard {
        .emailSubmit {
          .input {
            width: 200px;
          }
          .btn {
            width: 65px;
          }
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .main {
    .circle {
      position: absolute;
      width: 150px;
      height: 300px;
      left: -100px;
      top: 150px;
      border-radius: 50%;
      border: 2px solid #bb86fc;
    }
    .circle2 {
      position: absolute;
      width: 500px;
      height: 500px;
      right: -450px;
      top: 250px;
      border-radius: 50%;
      border: 2px solid #bb86fc;
    }
  }
}
@media (max-width: 760px) {
  .main {
    .content {
      .featureContainer {
        .right {
          .video {
            display: none;
          }
          .image {
            display: block;
          }
        }
      }
    }
  }
}
@media (max-width: 680px) {
  .main {
    .gridWrap {
      .svg {
        display: none;
      }
    }
    .statistics {
      .statsbar {
        &:not(:last-of-type) {
          .statsGrid {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }
    .why {
      .whyContainer {
        padding: 2em;
        .whyGrid {
          grid-template-columns: 1fr;
          .reasonContainer {
            max-width: 25em;
          }
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .main {
    .mobileWrapper {
      display: block;
    }
    .banner {
      .right {
        .try {
          display: none;
        }
        .contact {
          display: none;
        }
        .burgerContainer {
          display: block;
        }
      }
    }
  }
}
@media (max-width: 590px) {
  .main {
    .statistics {
      .statsbar {
        .statsGrid {
          .statContainer {
            max-width: 7.5em;
            .stat {
              font-size: 2rem;
            }
            .statWords {
              font-size: 0.625rem;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .main {
    .titlePage {
      .titleCard {
        .title {
          font-size: 4rem;
        }
        .desc {
          font-size: 1.25rem;
        }
      }
    }
  }
}
@media (max-width: 428px) {
  .main {
    .gridWrap {
      padding: 1em;
      .constructionCard {
        width: 100%;
        text-align: center;
        margin-right: 0;
        .emailSubmit {
          .form {
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
